*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,20,0.7)), url(london_background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: dodgerblue;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: palegoldenrod;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 24px;
    color:palegoldenrod;
}
/*------------------------myinfo--------------------------*/
.myinfo{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #777;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.myinfo_detail{
    flex-basis: 31%;
    background: lightyellow;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.myinfo_detail:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
/*--------------------------*/
.article{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 20px;
}
.recmdarti{
    text-align: center;
    padding: 10px;
}
.row2{
    margin-top: 5%;
    justify-content: space-between;
}
.article_detail{
    flex-basis: 10%;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    cursor: pointer;
    display: flex;
    text-decoration: none;
    transition: 0.5s;
}
.article_detail:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
.article_detail h3{
    text-align: left;
    
}
.article_detail p{
    text-align: left;
    padding: 0;
}
.arti_brif{
    padding: 25px;
}
.article_detail img{
    width: 200px;
    height: 140px;
    margin-right: 40px;
    margin-left: 10px;
}
.icon{
    padding: 30px;
    display: flex;
    width: 10%;
    justify-content: space-evenly; 
    align-items: center;
    margin-left: 44%;

}
